.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e6e1f;
}

.time {
    font-family: "Roboto", serif;
    font-size: 100px;
    color: white;
}

.class {
    color: white;
}

@media (prefers-color-scheme: dark) {
    .container {
        background: #121212;
    }
}

.classes {
    position: absolute!important;
    color: white;
    top: 0;
}