.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e6e1f;
    flex-direction: column;
    overflow-x: hidden;
}

.time {
    font-family: "Roboto", serif;
    font-size: 3em;
    color: white;
    margin: 4pt 0;
    max-width: 80vw;
    text-align: center;
}

.class {
    margin: 0;
    color: white;
}

.classes {
    position: absolute !important;
    color: white;
    top: 20px;
    font-size: 1.2em;

    & > div:nth-child(1) {
        background-color: forestgreen;
        border: gray;
        color: white;
        border-radius: 10px;
        width: auto;
    }
    & > div:nth-child(2) {
        margin-top: 5px;
        border-radius: 10px;
        color: white;
    }

    

}

.github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    width: 25px;
    height: 25px;
}

@media (prefers-color-scheme: dark) {
    .container {
        background: #121212;
    }
    .classes {
        & > div:nth-child(1) {
            background-color: #333;
        }
    }
}


.classes ::-webkit-scrollbar {
    width: 14px;
}

.classes ::-webkit-scrollbar-thumb {
   border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}